body{
 display: flex;
 flex-direction: column;
 font-family: 'Shadows Into Light', cursive;
 background-color: #757575;
}
h1{
text-align: center;
color: #F190B7;
font-size: 3em;
background-color: white;
}

p{
 width: 70%;
 text-align: center;
font-size: 2em;
margin: 1em auto;
color: #CE49BF;
background-color: white;
}

img{
 width: 50em;
 height: auto;
 margin: auto;
 border-radius: 50px;
 background: #e0e0e0;
}

img:hover{
 transform: scale(1.01);
 background: #7ba4f8;
}
.video{
 margin: auto;
}

.footer{
 font-size: 4em;
font-family: 'Satisfy', cursive;
}

.derechos{
 color: #A63EC5;
}